.custom-navbar {
  background-color: #33393f; /* change this to the desired color */
  padding: 1rem;
}

.navbar {
  font-family: 'Open Sans', sans-serif; /* this changes font in navbar to same as "main body text" */
}
.navbar-brand {
  color: #ffffff; /* change this to the desired color */
}
.navbar-nav .nav-link {
  color: #ffffff; /* change this to the desired color */
}
.navbar {
  padding-right: 0;
  padding-left: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
